div.Title {
	text-align: center;
	background-color: black;
    	color: white;
    	margin: 20px;
    	padding-top: 20px;
    	padding-bottom: 20px;
    	padding-left: 10px;
    	padding-right: 10px;
	font-style: oblique;
}
div.Paragraph {
  	width: 100%;
	margin: 200px;
	text-align: center;
	background-color: #d0e4fe;
	color: yellow;
	height: 200px;
	width: 500px;
	border: 5px solid red;
	}
	
	@keyframes Box {
		0% {background-color:red; border: 5px solid yellow; left:0px; top:0px;}
    		25% {background-color:yellow; border: 5px solid blue; left:200px; top:0px;}
		50% {background-color:blue; border: 5px solid green; left:200px; top:200px;}
    		75% {background-color:green; border: 5px solid red; left:0px; top:200px;}
    		100% {background-color:red; border: 5px solid black; left:0px; top:0px;}
	}
	
	div.Box {
		position: relative;
		width: 250px;
		padding: 50px;
		margin: 350px;
		color: black;
		background-color: 993399;
		border: 5px solid black;
		text-align: center;
		animation-name: Box;
		animation-duration: 2s;
		animation-iteration-count: 3;
	}
